 /**
 * * FUENTES 
 * */
@font-face { /*Primaria*/
    font-family: 'Overlock';
    src: url('../fonts/overlock/Overlock-Regular.ttf'),
     url('../fonts/overlock/Overlock-Bold.ttf'),
     url('../fonts/overlock/Overlock-Black.ttf');
}
@font-face {
    font-family: Oregano;
    src: url('../fonts/oregano/Oregano-Regular.ttf'),
    url('../fonts/oregano/Oregano-Italic.ttf');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;    
    overflow-x: hidden;
    margin: 0 auto;
    width: 100%;
}
/*Planeando tamaños de letras, títulos, etc*/
h1{
    font-family: 'Overlock';
}
h2,h3,h4,h5{
    font-family: 'Oregano';
    font-size: 2em;
    color: #FF715B;
}
li,a,button{
    font-family: 'Overlock';
    font-size: 1.1em;
    font-weight: 500;
    color: #000000;
}
/* HEADER */
header {
    width: 100%;
    height: 10vh;
    background-color: #BDD4E7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
  cursor: pointer;
}
.nav_links{
    list-style-type: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #FF715B; /*Gris*/
}

header button{
    padding: 10px 10px;
    background-color: #798793;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
header button:hover{
    background-color: #FF715B;
}
.articuloVideoPrincipal{
  height: 89.9vh;
  width: 100%;
  text-align: center;
  background-color: salmon;
}
.videoDiv{
  height: 80vh;
  width: 100%;
}

.videoIndex{
  position: fixed;
}
/*Estilos main*/
main {
    width: 100%;
    background: white;
    margin-bottom: 200px;
  }

  main article {
    width: 100%;
    margin: 0 auto;
    margin-top: 1%;
  }
  section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* SECCION BURBUJAS */
  section.burbujas{
    display: flex;
    flex-direction: column; /* BURBUJAS + BOTÓN ESTÁN EN COLUMNA*/
    margin: 0 auto;
    width: 100%;
    height: 65vh;
  }
  .divGeneralBurbujas{
    background-color: #BDD4E7;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  section.burbujas img{
    width: 50%;
  }
  .divBotonBuscador{
    padding: 0.5%;
  }
  section.burbujas button{
    background-color: #FF715B;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }
  section.burbujas button:hover{
    background-color: #BDD4E7;
  }
  .burbuja{
    margin: 0 auto;
    width: 29%;
    text-align: center;
    padding: 1%;
  }
  .burbuja p {
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
  }
  /* SECCION DESTINOS */
  .topDestinos{
    display: flex;
    flex-direction: column; /* TITULO SLIDERS + DIV SLIDERS */
    margin: 0 auto;
    width: 100%;
    padding: 0.5%;
    margin: 1%;
    height: 65vh;
  }
  .divGeneralTopDestinos{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .destino{
    margin: 0 auto;
    width: 25%;
    text-align: center;
    padding: 1%;
    height: 50vh;
    border-radius: 20px;
  }
  .destino h2{
    position: absolute;
    margin-bottom: 10%;
  }
  .destino:first-child{ /* Algo más ancho que los otros 2.*/
    background-color: red;
    width: 40%;
    /*background: url('/src/images/iconfinder_travel-world-air-plane-around_4638316.svg');*/
  }
  /* BOTÓN BUSCADOR*/
  .divBotonBuscador{
    margin: 0 auto;
    margin-top: 0.5%;
  }
  /**
  * * FOOTER  
  * */
  .footerGeneral{
    display: flex;
    width: 90%;
    height: 20vh;
    background-color: seagreen;
  }