.btn:focus {
    outline: 0;
    box-shadow: none!important; 
    background-color: #798793;
}
.btn {
background-color: #BDD4E7;
border: 3px solid #FF715B;
}
.mostrarVuelos{
    background-color: #FF715B;
    color: #000000;
    border-radius: 10px;
}
.btn:nth-child(2){
    margin-left: -5%;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.carousel-item img{
    width: 100%;
}
.formulario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}