 /**
 * * FUENTES 
 * */
@font-face { /* Primaria */
    font-family: 'Overlock';
    src: url('../fonts/overlock/Overlock-Regular.ttf'),
     url('../fonts/overlock/Overlock-Bold.ttf'),
     url('../fonts/overlock/Overlock-Black.ttf');
}
@font-face { /* Detalles o títulos ... */
    font-family: Oregano;
    src: url('../fonts/oregano/Oregano-Regular.ttf'),
    url('../fonts/oregano/Oregano-Italic.ttf');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;    
    overflow-x: hidden;
    margin: 0 auto;
    width: 100%;
}
/*Planeando tamaños de letras, títulos, etc*/
h1{
    font-family: 'Overlock';
}
h2,h3,h4,h5{
    font-family: 'Oregano';
    font-size: 2em;
    color: #FF715B;
}
li,a,button{
    font-family: 'Overlock';
    font-size: 1.1em;
    font-weight: 500;
    color: #000000;
}
p{
  font-family: 'Overlock';
  font-size: 16px;
}
/* NAV BAR SUPERIOR */
nav{
  height: 15vh;
  background-color: #BDD4E7;
}
.nav-links{
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  margin-left: auto;
  align-items: center;
}
.nav-links li a{
  color: #000000;
  text-decoration: none;
}
.nav-links li a:hover{
  color: #000000;
}
.divIndexvideo{
  width: 100%;
  height: 85vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.divIndexvideo h1{
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  margin-left: 5%;
  color: #FF715B;
  font-size: 8rem;
}

/* Para que el poster ocupe todo el espacio... */
video[poster]{
  /* object-fit: fill; Fits video aspect's radio. */
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/*Estilos main*/
main {
    width: 100%;
    background: white;
    margin-bottom: 200px;
  }

  main article {
    width: 100%;
    margin: 0 auto;
    margin-top: 1%;
  }
  section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* SECCION BURBUJAS */
  section.burbujas{
    display: flex;
    flex-direction: column; /* BURBUJAS + BOTÓN ESTÁN EN COLUMNA*/
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
  }
  .divGeneralBurbujas{
    background-color: #BDD4E7;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  section.burbujas img{
    width: 50%;
  }
  .divBotonBuscador{
    padding: 0.5%;
  }
  section.burbujas button{
    background-color: #FF715B;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }
  section.burbujas button:hover{
    background-color: #BDD4E7;
  }
  .burbuja{
    margin: 0 auto;
    width: 29%;
    text-align: center;
    padding: 1%;
  }
  .burbuja p {
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
  }
  /* SECCION DESTINOS */
  .topDestinos{
    display: flex;
    flex-direction: column; /* TITULO SLIDERS + DIV SLIDERS */
    margin: 0 auto;
    width: 100%;
    padding: 0.5%;
    margin: 1%;
    height: 65vh;
  }
  .divGeneralTopDestinos{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .destino{
    margin: 0 auto;
    width: 25%;
    text-align: center;
    padding: 1%;
    height: 50vh;
    border-radius: 20px;
  }
  .destino h2{
    position: absolute;
    margin-bottom: 10%;
  }
  .destino:first-child{ /* Algo más ancho que los otros 2.*/
    background-color: red;
    width: 40%;
    /*background: url('/src/images/iconfinder_travel-world-air-plane-around_4638316.svg');*/
  }
  /* BOTÓN BUSCADOR*/
  .divBotonBuscador{
    margin: 0 auto;
    margin-top: 0.5%;
  }
  /**
  * * FOOTER  
  * */
  .footerGeneral{
    display: flex;
    width: 90%;
    height: 20vh;
    background-color: seagreen;
  }

  /* SCROLLBAR */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FF715B; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
  }
  /**
  * * MEDIA QUERIES 
  * * */
  @media screen and (max-width: 768px){
    .divIndexvideo{
      display: none;
    }
    .nav-links{
      position: fixed;
      background: #FF715B;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%); 
      -webkit-clip-path: circle(750px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.apertura{/* Cuando se abre ...*/
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }

    .main{
      flex-direction: column;
    }
  }