 /**
 * * FUENTES 
 * */
@font-face { /*Primaria*/
  font-family: 'Overlock';
  src: url('../fonts/overlock/Overlock-Regular.ttf'), url('../fonts/overlock/Overlock-Bold.ttf'),url('../fonts/overlock/Overlock-Black.ttf');
}
@font-face {
  font-family: Oregano;
  src: url('../fonts/oregano/Oregano-Regular.ttf'),url('../fonts/oregano/Oregano-Italic.ttf');
}
/**
 * * ATRIBUTOS MÁS GENERALES
 * */
 * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Oregano";
    font-size: 1.1rem;
    line-height: 1em;
  }
  
  button {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  
  input {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
  }
  input[type=submit] {
    cursor: pointer;
  }
  input::placeholder {
    font-size: 0.85rem;
    font-family: "Overlock";
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #FF715B;
  }
  
  /**
   * * EFECTOS DE  REBOTE AL CAMBIAR DE FORMULARIO.
   * */
  @keyframes reboteIzquierda {
    0% {
      transform: translate3d(100%, -50%, 0);
    }
    50% {
      transform: translate3d(-30px, -50%, 0);
    }
    100% {
      transform: translate3d(0, -50%, 0);
    }
  }
  /**
   * * Efecto de rebote hacia la derecha.
   * */
  @keyframes reboteDerecha {
    0% {
      transform: translate3d(0, -50%, 0);
    }
    50% {
      transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
      transform: translate3d(100%, -50%, 0);
    }
  }
  /**
   * * Mostrar formulario de registro.
   * * Por defecto muestro login).
   * */
  @keyframes mostrarFormRegistro {
    100% {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }
  /**
   * * BACKGROUND
   * */
  .seccionFormulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("../images/iconfinder_Paper_plane_2103630.svg") no-repeat center;
    background-size: auto;
  }
  .divGeneral {
    position: relative;
    width: 80%;
  }
  .texto_tiposUsuario {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #BDD4E7; /*AZUL CLARITO*/
    border-radius: 3px;
  }
  
  /** 
  * * EFECTOS PARA LAS CLASES registrado / noRegistrado.
  * */
  .registrado,
  .noRegistrado {
    width: 50%;
    padding: 75px 45px;
    color: #fff;
    font-weight: 300;
  }
  
  .registrado_titulo,
  .noRegistrado_titulo {
    margin-bottom: 15px;
    font-size: 1.66rem;
    line-height: 1em;
  }
  
  .noRegistrado_descripcion,
  .registrado_descripcion {
    font-size: 0.83rem;
    line-height: 1.4em;
  }
  
  .registrado_opcion,
  .noRegistrado_opcion {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .registrado_opcion:hover,
  .noRegistrado_opcion:hover {
    color: #BDD4E7; /*AZUL CLARITO*/
    background-color: #FF715B;
  }
  
  /**
   * * ESTILOS PARA LOS FORMULARIOS DE REGISTRARSE / LOGUEO.
   * */
  .divFormularios {
    position: absolute;
    top: 50%;
    left: 30px;
    width: calc(50% - 30px);
    min-height: 420px;
    background-color: #212227;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transform: translate3d(100%, -50%, 0);
    transition: transform 0.4s ease-in-out;
  }
  .divFormularios .titulo_formulario {
    margin-bottom: 45px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: #FF715B;
    letter-spacing: 0.1rem;
  }
  .divFormularios .campos_formulario:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .divFormularios .campos_formulario-input {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 6px 20px 6px 6px;
    font-family: "Oregano", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.1rem;
    transition: border-color 0.2s ease-in-out;
  }
  .divFormularios .campos_formulario-input:focus {
    border-color: #212227;
  }
  .divFormularios .botones_formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }
  .divFormularios .botones_formulario-forgot {
    font-family: "Oregano", sans-serif;
    letter-spacing: 0.1rem;
    color: #FF715B;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
  }
  .divFormularios .botones_formulario-forgot:hover {
    color: #FF715B;
  }
  .divFormularios .botones_formulario-action {
    background-color: #FF715B;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-family: "Overlock";
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease-in-out;
  }
  .divFormularios .botones_formulario-action:hover {
    background-color: #e14641;
  }
  .divFormularios .formulario_registro,
  .divFormularios .formulario_login {
    position: absolute;
    top: 70px;
    left: 40px;
    width: calc(100% - 80px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
  }
  .divFormularios .formulario_registro {
    transform: translate3d(120px, 0, 0);
  }
  .divFormularios .formulario_registro .botones_formulario {
    justify-content: flex-end;
  }
  .divFormularios .formulario_login {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  
  /**
   * * Triggers
   * */
  .divFormularios.reboteIzquierda {
    animation: reboteIzquierda 1s forwards;
  }
  .divFormularios.reboteIzquierda .formulario_registro {
    animation: mostrarFormRegistro 1s forwards;
  }
  .divFormularios.reboteIzquierda .formulario_login {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-120px, 0, 0);
  }
  .divFormularios.reboteDerecha {
    animation: reboteDerecha 1s forwards;
  }

  /** 
  * * MEDIA QUERIES 
  * */
  @media screen and (max-width: 990px) {
    .divFormularios {
      min-height: 350px;
    }
    .divFormularios .botones_formulario {
      flex-direction: column;
    }
    .divFormularios .formulario_login .botones_formulario-action {
      margin-top: 1%;
    }
    .divFormularios .formulario_registro,
    .divFormularios .formulario_login {
      top: 40px;
    }
    .registrado,
    .noRegistrado {
      padding: 50px 45px;
    }
  }

  /**
   * * A partir de 770 px - Tablet Ipad
   * */
   @media screen and (max-width: 990px) {
    .divFormularios {
      min-height: 350px;
    }
    .divFormularios .botones_formulario {
      flex-direction: column;
    }
    .divFormularios .formulario_login .botones_formulario-action {
      margin-top: 1%;
    }
    .divFormularios .formulario_registro,
    .divFormularios .formulario_login {
      top: 40px;
    }
    .registrado,
    .noRegistrado {
      padding: 50px 45px;
    }
  }

  /* FORMATO MÓVIL */
  @media screen and (max-width: 790px){
    /*TODO Quitar efectos al cambiar entre login o registro para formato móvil.*/
  }
